#contact-us-container {
    box-sizing: border-box;
    width: 100%;
    padding: 1% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact-us-card {
    box-sizing: border-box;
    width: 50%;
    height: 76dvh;
    border-radius: 5rem;
    padding: 5%;
    background: rgba(255, 235, 59, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#contact-us-card #logo {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#contact-us-card #logo img {
    width: 5rem;
    height: auto;
    filter: grayscale(1) brightness(0);
}

#contact-us-card #logo span {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
}

#contact-us-card #slogan {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

#contact-us-card #slogan span {
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

#contact-us-card #extras {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#contact-us-card #extras span {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#contact-us-card #extras span button {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 235, 59, 0.7);
    border: 1px solid rgba(255, 235, 59, 0.7);
}

#contact-us-card #extras span button:hover {
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

#contact-us-form {
    box-sizing: border-box;
    width: 50%;
    padding: 5% 0 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#contact-us-form #contact-us-title {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.8);
}

#contact-us-form form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contact-us-form .input-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact-us-form .input-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 1px solid rgba(255, 235, 59, 0.9);
    border-radius: 0.3125rem;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(204, 198, 192, 1);
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#contact-us-form .input-box label {
    position: absolute;
    top: 0.75rem;
    left: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    padding: 0 0.625rem;
}

#contact-us-form .input-box input:focus + label, #contact-us-form .input-box input:not(:placeholder-shown) + label, #contact-us-form .input-box input:-webkit-autofill + label {
    top: -0.5rem;
    left: 0.625rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.9);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}

#contact-us-form .input-box input:hover + label {
    cursor: text;
}

#contact-us-form .input-box input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#contact-us-form .input-area-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact-us-form .input-area-box textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 1px solid rgba(255, 235, 59, 0.9);
    border-radius: 0.3125rem;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(204, 198, 192, 1);
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    min-height: 10rem;
    max-height: 10rem;
}

#contact-us-form .input-area-box label {
    position: absolute;
    top: 0.75rem;
    left: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    padding: 0 0.625rem;
}

#contact-us-form .input-area-box textarea:focus + label, #contact-us-form .input-area-box textarea:not(:placeholder-shown) + label, #contact-us-form .input-area-box textarea:-webkit-autofill + label {
    top: -0.5rem;
    left: 0.625rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.9);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}

#contact-us-form .input-area-box textarea:hover + label {
    cursor: text;
}