#otp-section {
    box-sizing: border-box;
    width: 100%;
    padding: 2.5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#otp-hint {
    box-sizing: border-box;
    width: 50%;
    height: 76dvh;
    background: rgba(255, 235, 59, 0.5);
    border-radius: 5rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#otp-hint-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#otp-hint-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#otp-hint-logo img {
    width: 5rem;
    height: auto;
    filter: grayscale(1) brightness(0);
}

#otp-hint-logo span {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
}

#otp-hint-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#otp-hint-slogan span {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

#otp-hint-description {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#otp-hint-description span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
}

#otp-hint-description button {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 235, 59, 0.7);
    border: 1px solid rgba(255, 235, 59, 0.7);
}

#otp-hint-description button:hover {
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

#otp-form {
    box-sizing: border-box;
    width: 50%;
    border-radius: 0 5rem 5rem 0;
    padding: 5% 0 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#otp-form #title {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.8);
    text-transform: capitalize;
}

#otp-form #otp-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

#otp-form #otp-description {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
}

#otp-form form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#otp-form form .input-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#otp-form form .input-box input {
    box-sizing: border-box;
    width: 2.5rem;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 235, 59, 0.5);
    border: 1px solid rgba(255, 235, 59, 0.9);
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
}

#otp-form form .extras {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
    text-align: center;
}

.not-shown {
    display: none !important;
}

#loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background: rgba(255, 235, 59, 0.5);
}

#loading-spinner .spinner img {
    width: 20rem;
    height: auto;
}