#sign-in-section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sign-in-hint {
    box-sizing: border-box;
    width: 50%;
    height: 76dvh;
    background: rgba(255, 235, 59, 0.5);
    border-radius: 5rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#sign-in-hint-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#sign-in-hint-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#sign-in-hint-logo img {
    width: 5rem;
    height: auto;
    filter: grayscale(1) brightness(0);
}

#sign-in-hint-logo span {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
}

#sign-in-hint-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sign-in-hint-slogan span {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

#sign-in-hint-description {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#sign-in-hint-description span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 1);
}

#sign-in-hint-description button {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 235, 59, 0.7);
    border: 1px solid rgba(255, 235, 59, 0.7);
}

#sign-in-hint-description button:hover {
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

#sign-in-form {
    box-sizing: border-box;
    width: 50%;
    border-radius: 0 5rem 5rem 0;
    padding: 5% 0 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#sign-in-form #title {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.8);
}

#sign-in-form #direct-sign-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sign-in-form #direct-sign-in #google-sign-in {
    padding: 1.5rem 3rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#sign-in-form #direct-sign-in #google-sign-in #g_id_signin {
    opacity: 0 !important;
    position: absolute !important;
    top: 20% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 1 !important;
}

#sign-in-form #direct-sign-in #google-sign-in #google-sign-in-btn {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sign-in-form #direct-sign-in #google-sign-in #google-sign-in-btn i {
    font-size: 2rem;
}

#sign-in-form #apple-sign-in {
    padding: 1.5rem 3rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#sign-in-form #direct-sign-in #apple-sign-in #apple-sign-in-btn {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sign-in-form #direct-sign-in #apple-sign-in #apple-sign-in-btn i {
    font-size: 2rem;
}

#sign-in-form #direct-sign-in #google-sign-in:hover,
#sign-in-form #apple-sign-in:hover {
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 235, 59, 0.5);
}

#sign-in-form #sign-in-seperator {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sign-in-form #sign-in-seperator .horr-line {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}

#sign-in-form #sign-in-seperator .horr-line:first-child {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#sign-in-form #sign-in-seperator .horr-line:last-child {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#sign-in-form #sign-in-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

#sign-in-form form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sign-in-form form .input-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

#sign-in-form form .input-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 1px solid rgba(255, 235, 59, 0.9);
    border-radius: 0.3125rem;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(204, 198, 192, 1);
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#sign-in-form form .input-box label {
    position: absolute;
    top: 0.75rem;
    left: 0.625rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    padding: 0 0.625rem;
}

#sign-in-form form .input-box input:focus + label, #sign-in-form form .input-box input:not(:placeholder-shown) + label, #sign-in-form form .input-box input:-webkit-autofill + label {
    top: -0.5rem;
    left: 0.625rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 235, 59, 0.9);
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.3);
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}

#sign-in-form form .input-box input:hover + label {
    cursor: text;
}

#sign-in-form #show-password-checkbox {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: rgba(204, 198, 192, 1);
    cursor: pointer;
}

#sign-in-form #remember-me-forgot-password {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#sign-in-form #remember-me-forgot-password > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
}

#sign-in-form #remember-me-forgot-password > div input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    accent-color: rgba(255, 235, 59, 0.9);
    cursor: pointer;
}

#sign-in-form #remember-me-forgot-password > div label {
    cursor: pointer;
}

#sign-in-form #remember-me-forgot-password > a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
    text-decoration: none;
    cursor: pointer;
}

#sign-in-form #sign-up-hint {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(204, 198, 192, 1);
}

#sign-in-form #sign-up-hint a {
    color: rgba(255, 235, 59, 0.9);
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}