@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Monoton&display=swap');

html {
    /* make the whole site scalable by changing this value (e.g. 100% = 16px) */
    font-size: 100% !important;
    scroll-behavior: smooth;
    scrollbar-color: #0d0d0d #0d0d0d;
    scrollbar-width: thin;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0d0d0d;
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.0625rem; /* 1px */
        bottom: -0.3125rem; /* 5px */
        left: 0;
        background-color: rgba(255, 235, 59, 0.7);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
}

button {
    background: transparent;
    color: rgba(255, 235, 59, 0.7);
    text-shadow: 0 0 1.25rem rgba(255, 235, 59, 0.5);
    border: 0.0625rem solid rgba(255, 235, 59, 0.7);
    outline: none;
    padding: 0.9375rem 1.25rem; /* 15px 20px -> rem */
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-weight: 600;

    &::before {
        content: '';
        position: absolute;
        background: rgba(255, 235, 59, 0.5);
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        gap: 0;
        z-index: -1;
        transition: all 0.4s ease-in-out;
    }
    &:hover {
        color: rgba(0, 0, 0, 1);
        background: rgba(255, 235, 59, 0.25);
        &::before {
            left: 0;
            right: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1280px) and (min-width: 1080px) {
    html {
        font-size: 75% !important;
    }
}